section {max-width: 1200px; margin-inline: auto;}
section > h2 {position:absolute; width:1px; height:1px; margin:-1px; padding:0;overflow:hidden; clip:rect(0,0,0,0); white-space:nowrap; border:0;}
section:nth-of-type(1) {margin: 180px auto; display: flex; justify-content: space-between;}
section:nth-of-type(1) > div:nth-of-type(1) > img {width: 600px;}
section:nth-of-type(1) > div:nth-of-type(1) > ul {display: flex;}
section:nth-of-type(1) > div:nth-of-type(1) > ul > li img {width: 100px;}
section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {border-top: 1px solid #000; padding-block: 50px;}
section:nth-of-type(1) > div:nth-of-type(2) > div b {display: block; font-weight: 400; font-size: 20px; margin-bottom: 30px;}
section:nth-of-type(1) > div:nth-of-type(2) > div p {font-weight: 400; font-size: 12px; color: #999; margin-bottom: 10px;}
section:nth-of-type(1) > div:nth-of-type(2) > div > p:nth-of-type(2),
section:nth-of-type(1) > div:nth-of-type(2) > div > p:nth-of-type(4) {margin-bottom: 20px;}
section:nth-of-type(1) > div:nth-of-type(2) > div > p:nth-of-type(6) {margin-bottom: 50px;}
section:nth-of-type(1) > div:nth-of-type(2) > div > strong {margin-bottom: 20px;}
section:nth-of-type(1) > div:nth-of-type(2) > div > span {font-size: 10px; text-decoration: line-through; font-weight: 400;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li:nth-of-type(1),
section:nth-of-type(1) > div:nth-of-type(2) > ul > li:nth-of-type(2),
section:nth-of-type(1) > div:nth-of-type(2) > ul > li:nth-of-type(4),
section:nth-of-type(1) > div:nth-of-type(2) > ul > li:nth-of-type(5) {border-top: 1px solid #999;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li {font-size: 14px; padding-block: 15px; display: flex; justify-content: space-between;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li span {font-weight: 500;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li > ol {display: flex; gap: 15px;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li > ol > li input[type="radio"] {display: none;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li > ol > li label {display: block; padding: 10px 16px; text-align: center; font-size: 14px; background: #fff; cursor: pointer;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li > ol > li input[type="radio"]:checked + label {border: 1px solid #000; color: #000;}
section:nth-of-type(1) > div:nth-of-type(2) > ul > li input[type="submit"]{background-color: transparent; border: none; outline: none; font-size: 18px; font-weight: 600;}
section:nth-of-type(1) > div:nth-of-type(2) input[value="BUY IT NOW"] {box-sizing: border-box; display: block; width: 100%; background-color: #e84388; border: none; outline: none; margin-bottom: 20px; padding-block: 10px; font-size: 14px;}
section:nth-of-type(1) > div:nth-of-type(2) > div:nth-last-child(1) {display: flex; justify-content: space-between;}
section:nth-of-type(1) > div:nth-of-type(2) > div:nth-last-child(1) > a {box-sizing: border-box; text-decoration: none; text-align: center; color: #999; border: 1px solid #999; font-size: 14px; padding-block: 10px; width: 48%;}
section:nth-of-type(1) > div:nth-of-type(2) > div:nth-last-child(1) > a:hover {border: 2px solid #999;}
section:nth-of-type(2) {margin-bottom: 120px;}
section:nth-of-type(2) > img {width: 100%; margin-bottom: 20px;}
section:nth-of-type(2) > div {display: flex; gap: 20px;}
section:nth-of-type(2) > div img {width: 100%;}